body {
    background-color: rgb(15, 15, 15);
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    transition: 1s;
    margin-top: -70px;
    margin-bottom: 0px;
    max-width: 10px;
}

h1:hover {
    color: rgb(255, 225, 155);
}

button {
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 50px;
    transition: 1s;
    margin-top: 50vh;
    margin-left: 25ch;
    opacity: 0;
}

button:hover {
    color: rgb(255, 155, 0);
}

p {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-top: 0px;
    transition: 200ms;
}

button:active {
    color: rgb(255, 255, 0);
}